<section id="analysis">
  <div style="margin: 100px;">
    <div class="mb-3">
      <div style="display: flex; justify-content: center;">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Input your sample here..."
          style="border: 2px solid #000; width: 500px; height: 300px;"></textarea>
      </div>
    </div>
    <div style="display: flex; justify-content: center;">
      <button type="button" class="btn btn-outline-warning">Analyze</button>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 20px;">
      SENTIMENT OF YOUR TEXT IS:
  </div>
</section>

<script>
  //Ovdje dodaj service.init
</script>